<form data-test-form="user-form" {{on "submit" (perform this.saveCurrentUser)}}>
  <div class="mb-6 space-y-2">
    <div>
      <label
        for="email"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "email"}}
      </label>
      <Input
        id="email"
        autocomplete="email"
        @value={{this.currentUser.user.email}}
        data-test-input="email"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
    <div>
      <label
        for="language"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "language"}}
      </label>
      <Input
        id="language"
        autocomplete="language"
        @value={{this.currentUser.user.language}}
        data-test-input="language"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
    <div>
      <label
        for="dark-mode"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "dark_mode"}}
      </label>
      <Input
        id="dark-mode"
        @value={{this.currentUser.user.darkMode}}
        data-test-input="dark-mode"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
    <div>
      <label
        for="username"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "username"}}
      </label>
      <Input
        id="username"
        autocomplete="username"
        @value={{this.currentUser.user.username}}
        data-test-input="username"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
    <div>
      <label
        for="first-name"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "first_name"}}
      </label>
      <Input
        id="first-name"
        autocomplete="given-name"
        @value={{this.currentUser.user.firstName}}
        data-test-input="first-name"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
    <div>
      <label
        for="last-name"
        class="block mb-1 font-medium text-gray-700 text-md dark:text-gray-500"
      >
        {{t "last_name"}}
      </label>
      <Input
        id="last-name"
        autocomplete="family-name"
        @value={{this.currentUser.user.lastName}}
        data-test-input="last-name"
        class="block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm appearance-none dark:border-gray-700 sm:text-sm dark:bg-black dark:text-gray-500"
        @type="text"
      />
    </div>
  </div>
  <button
    type="button"
    disabled={{this.saveCurrentUser.isRunning}}
    data-test-action="saveProfile"
    class="flex justify-center w-full px-4 py-2 text-lg font-medium text-gray-700 border-2 border-gray-300 rounded-md shadow-sm dark:bg-indigo-900 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-indigo-700 dark:text-gray-500 disabled:opacity-60"
    {{on "click" (perform this.saveCurrentUser)}}
  >
    {{#if this.saveCurrentUser.isRunning}}
      <svg
        class="w-5 h-5 mr-1 rtl:ml-1 animate-spin"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d={{this.constants.ICON_WHEEL}}
        ></path>
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d={{this.constants.ICON_COG}}
        ></path>
      </svg>
      {{t "saving"}}
    {{else}}
      {{t "save"}}
    {{/if}}
  </button>
</form>