<div
  data-test-menu="desktop"
  class="items-center justify-end flex-1 hidden space-x-8 md:flex rtl:space-x-reverse rtl:space-x-8 lg:w-0"
>
  {{#if this.session.isAuthenticated}}
    <LinkTo
      @route="authenticated.user"
      class="text-lg font-medium leading-6 text-gray-700 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200 whitespace-nowrap"
    >
      {{t "user"}}
    </LinkTo>
    <LinkTo
      @route="authenticated.profile"
      class="text-lg font-medium leading-6 text-gray-700 dark:text-gray-500 hover:text-gray-900 dark:hover:text-gray-200 whitespace-nowrap"
    >
      {{t "profile"}}
    </LinkTo>
    <Site::LogoutButton />
  {{else}}
    <LinkTo
      @route="login"
      class="px-4 py-2 text-lg font-medium leading-6 text-gray-700 rounded-md dark:text-gray-500 hover:text-gray-900 dark:hover:text-gray-200 whitespace-nowrap"
    >
      {{t "login"}}
    </LinkTo>
    <LinkTo
      @route="signup"
      class="items-center justify-center px-4 py-2 text-lg font-medium leading-6 text-gray-700 border border-gray-300 rounded-md shadow-sm dark:border-gray-700 dark:text-gray-500 dark:hover:text-gray-200 hover:text-gray-900 dark:bg-indigo-900 hover:bg-gray-100 dark:hover:bg-indigo-700 whitespace-nowrap"
    >
      {{t "sign_up"}}
    </LinkTo>
  {{/if}}
</div>