<div
  data-test-menu="mobile"
  class="block mt-2 space-y-1 border-t border-gray-200 dark:border-gray-700 md:hidden"
>
  {{#if this.session.isAuthenticated}}
    <Site::LogoutButton />
    <LinkTo
      @route="authenticated.user"
      class="block px-4 py-2 text-lg font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-900"
    >
      {{t "user"}}
    </LinkTo>
    <LinkTo
      @route="authenticated.profile"
      class="block px-4 py-2 text-lg font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-900"
    >
      {{t "profile"}}
    </LinkTo>
  {{else}}
    <LinkTo
      @route="login"
      class="block px-4 py-2 text-lg font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-900"
    >
      {{t "login"}}
    </LinkTo>
    <LinkTo
      @route="signup"
      class="block px-4 py-2 text-lg font-medium text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-500 dark:hover:text-gray-200 dark:hover:bg-gray-900"
    >
      {{t "sign_up"}}
    </LinkTo>
  {{/if}}
</div>