{{page-title 'Login'}}
<form {{on 'submit' this.authenticate}}>
  <label for='identification'>
    Login
  </label>
  <input
    id='identification'
    data-test-input='email'
    placeholder='Enter Login'
    value={{this.identification}}
    {{on 'change' this.updateIdentification}}
  />
  <label for='password'>
    Password
  </label>
  <input
    id='password'
    data-test-input='current-password'
    placeholder='Enter Password'
    value={{this.password}}
    {{on 'change' this.updatePassword}}
  />
  <button data-test-action='login' type='submit'>
    Login
  </button>
  {{#if this.errorMessage}}
    <p>
      {{this.errorMessage}}
    </p>
  {{/if}}
</form>
{{outlet}}